doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Zoom Home
        main 
            h2 Welcome to Zoom.
            form#nick
                input(type="text", placeholder="choose a nickname", required)
                button Save
            ul
            form
                input(type="text", value="")  
                button SEND
        script(src="/public/js/app.js")